.nav-link {
    &:hover {
        font-weight: bolder;
        color: orange;
    }
}

.btn {
    background-color: #313131;
    border-color: none;
    text-decoration: none;
    color: #fcdde5;
}

.btn {
    &:hover {
    background-color: #ee3558;
    } 
}