 body {
     font-family: 'Lato', sans-serif;

 }

nav img{
    height: 100px;
    display: inline-block;
}

nav {
    ul{
        float: right;
        list-style: none;
        
        
        li {
            margin-right: 10px;
            @include media-breakpoint-up(md) {
                display: inline-block;
            }
            a {
                text-decoration: none;
                
            } 
        }
    }
}

